body {
    /* width: 300px;
    padding: 20px;
    background: transparent; */
    font-family: Arial, sans-serif;
  }
  
  .popup-container {
    text-align: center;
  }
  
  h1 {
    color: #614bb7;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');